
{% extends "base2.html.twig" %}

{%  block contenu %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Bienvenue sur votre espace QG</h1>
                <hr>
                <p>Vous pouvez ici faire les actions pour le vote</p>
                <a href="#services" class="btn btn-primary btn-xl page-scroll">gerer les actions</a>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vos actions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <a href="{{ path('packhoraire_index') }}"><h3>Voir la participation</h3></a>
                        <p class="text-muted">Vous pouvez ici consulter la participation pour chaque desk.</p>
                    </div>
                </div>
<!--
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <a href="?????{ path('csv_index') }}"><h3>Exporter le csv</h3></a>
                        <p class="text-muted">Cliquez ici pour exporter des données au format csv.</p>
                    </div>
                </div>
                -->



                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <a href="{{ path('qg_utilisation_killall',{id : qg.id}) }}"><h3>Recommencer le vote</h3></a>
                        <p class="text-muted">Attention, si vous cliquez ici, tous les deskx, candidats et votes seront supprimés.</p>
                    </div>
                </div>

                <!--

               <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <a href="{{ path('candidat_index') }}"><h3>Gestion des candidats</h3></a>
                        <p class="text-muted">Permet de voir, ajouter, modifier et supprimer des candidats.</p>
                    </div>
                </div>

                -->

               <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <a href="{{ path('desk_index',{id : qg.id}) }}"><h3>Gestion des deskx</h3></a>
                        <p class="text-muted">Permet de voir, ajouter, modifier et supprimer des deskx.</p>
                    </div>
                </div>
               <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
