#map {
  width: 400px;
  height: 400px;
}
#general {
     background: #fff;
     position: absolute;
     z-index: 1;
     top: 1%;
     right: 10px;
     border-radius: 5%;
     border: 1px solid rgba(0,0,0,0.4);
     font-family: 'Open Sans', sans-serif;
    padding: 30px;
 }

#general td{
    font-size: 120%;
}


.bureau{
  background-color: white;
    border-radius: 5%;
}
.bureau h1{
    text-align: center;

}
.bureauText{
  font-size: 150%;
}
.candidat{
  font-size: 120%;
}
